body {
  margin: 0;
}


.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  height: 80px;
  width: auto;
  margin-right: 0.5rem;
  object-fit: contain;
}


header {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: #00ffff;
    color: rgb(5, 5, 5);
    padding: 0px 30px;
    box-sizing: border-box;
}


header h1 {
  margin: 0;
  font-size: 22px;
}

header nav {
  justify-self: center;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}


header nav a {
  text-decoration: none;
  color: rgb(5, 5, 5);
  font-weight: 500;
}

header nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}


.header-right {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right a {
  text-decoration: none;
}

.logout-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease, transform 0.1 ease;
}

.logout-btn:hover {
  background-color: #d32f2f;
  transform: translateY(-1px);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  cursor: pointer;
}